@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Fira+Code:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

/* Import the HeroUI plugin */
@plugin './hero.ts';

/* Explicitly tell Tailwind to scan HeroUI's theme files */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@theme {
    --font-sans: "Inter", "Helvetica Neue", Arial, sans-serif;
    --font-mono: "Fira Code", "SFMono-Regular", Menlo, monospace;
    --color-default: #FCE4EC;
    --color-primary: #F48FB1;
    --color-secondary: #B39DDB;
    --color-success: #14B05C;
    --color-warning: #FFD54F;
    --color-danger: #FF8A65;
    --background-image-pink-radial: linear-gradient(133deg, rgba(255,240,245,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(255,240,245,1) 100%);
}

body {
    font-family: var(--font-sans);
}

code,
pre {
    font-family: var(--font-mono);
}
