@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

/* Import the HeroUI plugin */
@plugin './hero.ts';

/* Explicitly tell Tailwind to scan HeroUI's theme files */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@theme {
    --color-default: #FCE4EC;
    --color-primary: #F48FB1;
    --color-secondary: #B39DDB;
    --color-success: #14B05C;
    --color-warning: #FFD54F;
    --color-danger: #FF8A65;
    --background-image-pink-radial: linear-gradient(133deg, rgba(255,240,245,1) 11%, rgba(255,245,250,1) 23%, rgba(255,250,253,1) 58%, rgba(255,245,250,1) 71%, rgba(255,240,245,1) 92%);
}